body {
    background-color: #9AFEFF; /* Set the background color for the entire page */
    font-family: Arial, sans-serif; /* Set a font for the entire page */
    margin: 0; /* Reset default margin */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

/* Style for the parent container */
.container {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; /* Set width to ensure full width */
}

/* Style for the buttons container */
.buttons-container {
    display: flex;
    flex-direction: column;
    width: 20%; /* Adjust as needed */
}

/* Style for the description container */
.description-container {
    width: 50%; /* Adjust as needed */
}

/* Style for the description box */
.description-box {
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}

/* Style for the map container */
.map-container {
    width: 30%; /* Adjust as needed */
}