body {
    background-color: #9AFEFF; 
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    background-color:  #ffffff; 
}